{% extends "BluehouseappWebBundle:Backend/Admin/layout:layout.html.twig" %}
{% import 'BluehouseappWebBundle:Macros:buttons.html.twig' as buttons %}
{% block title %}  显示屏蔽IP{% endblock %}
{% block body -%}
    {%  set entity=banedIPs %}
    <h1>屏蔽IP管理</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ entity.ip }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ entity.timestamp|date("Y-m-d H:i") }}</td>
            </tr>
            <tr>
                <th>开始日期</th>
                <td>{{ entity.fromDate|date("Y-m-d H:i") }}</td>
            </tr>
            <tr>
                <th>结束日期</th>
                <td>{{ entity.toDate|date("Y-m-d H:i") }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">

            <li>
                {{ buttons.generic(path('bluehouseapp_banedIPs_index'),'返回列表') }}
            </li>
            <li>
                {{ buttons.edit(path('bluehouseapp_banedIPs_update', {'id': entity.id})) }}
            </li>

</ul>
{% endblock %}
