{% extends "BluehouseappWebBundle:Backend/Admin/layout:layout.html.twig" %}
{% import 'BluehouseappWebBundle:Macros:buttons.html.twig' as buttons %}
{% block title %}
    显示分类
{% endblock %}
{% block body -%}
{% set entity=category %}
    <h1>显示分类</h1>

    <table class="record_properties">
        <tbody>

            <tr>
                <th>名称</th>
                <td>{{ entity.name }}</td>
            </tr>

            <tr>
                <th>序号</th>
                <td>{{ entity.no }}</td>
            </tr>
            <tr>
                <th>可用性</th>
                <td>
                    {% if entity.enabled %}
                        <span class="label label-success">正常</span>
                    {% else %}
                        <span class="label label-danger">已禁用</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>最后修改时间</th>
                <td>{{ entity.modified|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        {{ buttons.generic(path('bluehouseapp_category_index'),'返回列表') }}

    </li>
    <li>
        {{ buttons.edit(path('bluehouseapp_category_edit', { 'id': entity.id })) }}


    </li>

</ul>
{% endblock %}
