<div class="space-8"></div>
<table class="table table-striped table-bordered table-hover" id="sample-table-1">
    <thead>
    <tr>
        <th>ID</th>
        <th>任务类型</th>
        <th>优先级别</th>
        <th>状态</th>
        <th>执行时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data.items %}
        <tr class="tr-{{ item.id }}">
            <td>{{ item.id }}</td>
            <td>{% if typeInfo[item.type] is defined %}{{ typeInfo[item.type] }}{% else %}未知{% endif %}</td>
            <td>{{ item.weight }}</td>
            <td>{% if item.error %}{{ item.error }}{% elseif stateInfo[item.state] is defined %}{{ stateInfo[item.state] }}{% else %}未知{% endif %}</td>
            <td>{{ date('Y-m-d H:i:s',item.runtime) }}</td>
            <td>
                <a href="{{ url(['for':'adminQueueDelete','id':item.id]) }}"
                   class="btn btn-xs btn-danger ajax-load-link" hrefbox="#main-content">删除</a>
                <a href="{{ url(['for':'queue','id':item.id]) }}" class="btn btn-xs btn-success ajax-load-link"
                   hrefbox="#main-content">立即执行</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="space-4"></div>
<div class="space-8"></div>
{{ partial("Themes/AdminLTE/templates/paginator") }}
</div>
