<div class="clear"></div>
{{ content() }}
<p>
<a class="ajax-load-link" hrefbox="#tuku" href="{{ url(['for':'imagesManage','type':'box','dirname':'']) }}">根目录</a>
<?php
$dirNameArray = explode('/',trim($dirname,'/'));
$aa = '';
?>
{% for value in dirNameArray %}
<?php
$aa = $aa.'/'.$value;
$base_value = base64_encode($aa);
?>
<?php if (!empty($value)): ?>
&nbsp;&gt;&nbsp;<a class="ajax-load-link" hrefbox="#tuku" href="{{ url(['for':'imagesManage','type':'box','dirname':base_value]) }}">{{ value }}</a>
<?php endif ?>
{% endfor %}
</p>
<?php if (!empty($imagesList)){ ?>
<ul class="images_list">
		<?php foreach ($imagesList as $fileKey => $fileValue){ ?>
		<?php if ($fileValue['type'] == 'dir'){ ?>
		<li class="dir">
		<a class="ajax-load-link" hrefbox="#tuku" data-rel="colorbox"
			href="{{ url(['for':'imagesManage','type':'box','dirname':fileValue['dir']]) }}"
			class="cboxElement">
			<img src="/images/dir.png">
			<div class="text">
				<div class="inner">目录：{{ fileValue['name'] }}</div>
			</div>
		</a>
		</li>
		<?php }else { ?>	
		<li class="img_box_li" id="<?php print $fileValue['path']; ?>">

		<a data-rel="colorbox" dataHref="<?php print $fileValue['dir']; ?>">
			<img src="{{ fileValue['path'] }}">
		</a>

<div class="tools tools-top">

			<a class="ajax-delete-file"
				hrefbox="<?php print $fileValue['path']; ?>" clickType="i"
				href="{{ url(['for':'imagesDelete','file':fileValue['dir']]) }}">
				<i class="icon-remove"></i>
				<small>删除</small>
			</a>
		</div>

		<div class="tools tools-bottom">

			<a image_id="{{ fileValue['path'] }}" check="n" class="check_image"
				hrefbox="<?php print $fileValue['path']; ?>" clickType="i"
				href="{{ url(['for':'imagesEditor','file':fileValue['dir']]) }}">
				<i class="icon-pencil"></i>
				<small>选中</small>
			</a>
			<a class="see" target="_blank"
				hrefbox="<?php print $fileValue['path']; ?>" clickType="i"
				href="{{ fileValue['path'] }}">
				<i class="icon-link"></i>
				<small>查看</small>
			</a>
		</div>

	</li>
					
	<?php } ?>
						
	<?php } ?>
</ul>
<?php }else { ?>
<p>暂时没有任何的文件</p>
<?php } ?>
<div class="clear"></div>
<script type="text/javascript" src="/themes/ace/js/img_list_page.js"></script>
