<div id="cart" class="btn-group">
  <button type="button" data-loading-text="{{ text_loading }}" class="btn btn-inverse btn-block dropdown-toggle"><i class="iconfont">&#xe606;</i> <span id="cart-total">{{ text_items }}</span></button>
  <ul class="dropdown-menu pull-right">
    {% if products or vouchers %}
    <li class="products">
      <table class="table table-striped">
        {% for product in products %}
        <tr>
          <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
          <td class="text-left"><a class="name" href="{{ product.href }}" title="{{ product.name }}">{{ product.name }}</a> {% if product.option %}
            {% for option in product.option %} <br />
            - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
            {% endif %}
          </td>
          <td class="text-right">x {{ product.quantity }}</td>
          <td class="text-right">{{ product.total }}</td>
          <td class="text-center"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
        {% for voucher in vouchers %}
        <tr>
          <td class="text-center"></td>
          <td class="text-left">{{ voucher.description }}</td>
          <td class="text-right">x&nbsp;1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
      </table>
    </li>
    <li>
      <div>
        <table class="table table-bordered">
          {% for total in totals %}
          <tr>
            <td class="text-right"><strong>{{ total.title }}</strong></td>
            <td class="text-right">{{ total.text }}</td>
          </tr>
          {% endfor %}
        </table>
        <div class="row">
          <div class="col-sm-6">
            <a href="{{ cart }}" class="btn btn-default btn-block"><strong><i class="fa fa-shopping-cart"></i> {{ text_cart }}</strong></a>
          </div>
          <div class="col-sm-6"><a href="{{ checkout }}" class="btn btn-primary btn-block"><strong><i class="fa fa-share"></i> {{ text_checkout }}</strong></a></div>
        </div>
      </div>
    </li>
    {% else %}
    <li>
      <p class="text-center no-results"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> {{ text_no_results }}</p>
    </li>
    {% endif %}
  </ul>
</div>
