{% if not modal %}
<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3 col-xs-6">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3 col-xs-6">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="visible-xs col-xs-12"></div>
      <div class="col-sm-3 col-xs-6">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-6">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <p class="footer-bottom">{{ powered }}</p>
  <div class="fixed-shortcut-wrapper">
    <div class="shortcut hidden-sm hidden-xs">
      <a href="{{ helper.url.link("checkout/cart") }}"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
      <a href="{{ account }}"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
      <a href="{{ wishlist }}"><i class="fa fa-heart" aria-hidden="true"></i></a>
      <a href="#" class="scroll-top go-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
{% endif %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

<script type="text/javascript">
  var showAlert = function(type, content) {
    if (type == 'cart') {
      redirectButtonText = '{{ button_checkout }}';
      redirectButtonLocation = '{{ helper.url.link("checkout/cart") }}';
    } else if (type == 'wishlist') {
      redirectButtonText = '{{ button_wishlist }}';
      redirectButtonLocation = '{{ wishlist }}';
    } else if (type == 'compare') {
      redirectButtonText = '{{ button_compare }}';
      redirectButtonLocation = '{{ helper.url.link("product/compare") }}';
    }

    layer.open({
      title: '{{ text_layer_popup_title }}',
      skin: 'layer-alert',
      shadeClose: true,
      content: content,
      btn: [redirectButtonText, '{{ button_continue_shopping }}'],
      yes: function() {
        location = redirectButtonLocation;
      }
    });
  }
</script>

<!-- OpenCart v3.0 免费模板由 www.opencart.cn 荣耀出品 2017 (c) 成都光大网络科技有限公司 版权所有 -->
{{ helper.debug_bar.render }}
</body></html>
