{{ header }}
<div id="common-success" class="container">
  {{ include(helper.template('_partial/breadcrumb')) }}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="success-items">
        <div class="order-info">
          <div class="icon-wrapper">
            <i class="fa fa-check" aria-hidden="true"></i>
          </div>
          <div class="inner-wrapper">
            <h2 class="title">{{ heading_title }}</h2>
            <div class="inner">{{ text_message }}</div>
            <div class="btns"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
