
<div id="form-element-{{ formId }}" class="form-group">
  <h5 class="col-xs-12 col-sm-12">
    {{ label }}<small class="help-block col-xs-12 col-sm-reset inline">&nbsp;&nbsp;<i
      class="icon-double-angle-right"></i>&nbsp;&nbsp;{{ description }}
    </small>
  </h5>
  <div class="col-xs-12 col-sm-12 ace-form-element">
    {{ element }}
  </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
(function($) {
  $('#auto-input-{{ name }}').typeahead({
    source:function(query,process){
      $.get('/aaa.json', function(data) {
        aa = JSON.parse(data);
        process(aa);
      });
    },
  });
})(jQuery);
</script>
