<div id="form-element-{{ formId }}" class="form-group">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            {% for key,value in element.getGroupTabs() %}
                <li class="{% if loop.first %}active{% endif %}"><a href="#{{ name }}_{{ key }}"
                                                                    data-toggle="tab">{{ value['label'] }}</a></li>
            {% endfor %}
            <li class="pull-left header">
                <h5>
                    <label>{{ label }}</label>
                    <small class="help-block inline">&nbsp;&nbsp;<i
                                class="icon-double-angle-right"></i>&nbsp;&nbsp;{{ description }}
                    </small>
                </h5>
            </li>
        </ul>
        <div class="tab-content">
            {% for key,value in element.getGroupTabs() %}
                <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ name }}_{{ key }}">
                    {{ view.r(data.renderElement(key,value)) }}
                </div>
            {% endfor %}
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>