<div id="form-element-{{ formId }}" class="form-group">
    <h5>
        <label>{{ label }}</label>
        <small class="help-block inline">&nbsp;&nbsp;<i
                    class="icon-double-angle-right"></i>&nbsp;&nbsp;{{ description }}
        </small>
    </h5>
    <div class="clear"></div>
    {% set default = element.getDefault() %}
    {% for key,value in element.getOptions() %}
        <div class="input-group pull-left{% if loop.last == false %} margin-right-15{% endif %}">
            <input{% if default == key %} checked="true"{% endif %} type="checkbox" name="{{ element.getName() }}"
                                                                    value="{{ key }}"><label>{{ value }}</label>
        </div>
    {% endfor %}
</div>
<div class="clear"></div>
