<div id="form-element-{{ formId }}" class="form-group">
    {% if layout == 'inline' %}
    <div class="input-group">
        <div class="input-group-addon">{{ label }}<i class="fa fa-calendar"></i></div>{{ element }}
    </div>
    {% else %}
    <h5>
        <label>{{ label }}</label><small>&nbsp;&nbsp;<i
            class="fa fa-fw fa-hand-o-right"></i>&nbsp;&nbsp;{{ description }}
        </small>
    </h5>
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </div>
        {{ element }}
    </div>
    {% endif %}
</div>
<div class="clear"></div>