<div id="form-element-{{ formId }}" class="form-group{% if hasError !== false %} has-error{% endif %}">
    {% if layout == 'inline' %}
        <div class="input-group">
            <div class="input-group-addon">{{ label }}</div>{{ element }}
        </div>
    {% else %}
        <h5>
            <label>{{ translate.t(label) }}</label><small>&nbsp;&nbsp;<i class="fa fa-fw fa-hand-o-right"></i>&nbsp;&nbsp;{{ description }}
            </small>
        </h5> {{ element }}
    {% endif %}
</div>
<script type='text/javascript' src="//cdn.itdashu.com/library/bootstrap-fileinput-master/js/fileinput.min.js"></script>
<script type='text/javascript' src="//cdn.itdashu.com/library/bootstrap-fileinput-master/js/fileinput_locale_zh.js"></script>
<script type='text/javascript'>
    $("#{{ name }}").fileinput({'showUpload':false, 'previewFileType':'any'});
</script>