<div id="form-element-{{ formId }}" class="form-group images-box">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="active"><a data-toggle="tab" href="#tab_check">选中图片</a></li>
            <li><a data-toggle="tab" ajax-data="{{ url(['for':'imagesBoxList','page':1]) }}" href="#tab_tuku">图库</a>
            </li>
            <li><a data-toggle="tab" ajax-data="{{ url(['for':'imagesBoxUpload']) }}" href="#tab_upload">上传</a></li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    切换显示 <span class="caret"></span>
                </a>
            </li>
            <li class="pull-left header"><h5><i class="fa fa-th"></i> {{ label }}</h5></li>
        </ul>

        {{ element }}
        <div class="tab-content">
            <div id="tab_check" class="tab-pane active">
                <div class="alert alert-block alert-info">
                    <i class="fa fa-fw fa-file-image-o"></i>
                    点击图片，从列表移除
                </div>
                <ul class="check_images_list list">
                    {% for value in element.ex() %}
                        {% if value %}
                            <li class="check_images_li">
                                <a class="cboxElement"><img src="{{ value }}"></a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="no-check">没有选中图片</li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.tab-pane -->
            <div id="tab_tuku" data="empty" class="tab-pane tuku">
                图库还没有加载。
            </div>
            <!-- /.tab-pane -->
            <div id="tab_upload" data="empty" class="tab-pane upload">
                上传组件还没有加载
            </div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>
</div>
{% do assets.addCss('file_css','http://cdn.itdashu.com/modules/file/css/style.css','footer').addJs('file_js','http://cdn.itdashu.com/modules/file/js/js.js','footer') %}