{% block form_row %}
{% spaceless %}

{% if macro is not defined %}
{% import 'BluehouseappWebBundle:common:form_macro.html.twig' as macro %}
{% endif %}

<div class="form-group {{macro.hasErrors(form)}}">

  {% if errors is defined and errors|length > 0 %}
  {{ form_label(form,null,{'label_attr':{'class':'control-label',}}) }}
  <span class="help-block" style="display:inline">
    {% for error in errors %}
    {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
    {% endfor %}
  </span>
  {% else %}
  {{ form_label(form,null,{'label_attr':{'class':'control-label',}}) }}
  {% endif %}
  {{ form_widget(form, _context) }}
</div>

{% endspaceless %}
{% endblock form_row %}
