<div class="checkout-process-wrapper checkout-process-all">
  <ul class="process-list">
    {#<li class="{{ process == 'cart' ? 'active' : 'old' }}"><span>{{ text_step_1 }}</span><div>1</div></li>#}
    {#<li class="{{ process == 'checkout' ? 'active' }}{{ process == 'success' ? 'old' }}"><span>{{ text_step_2 }}</span><div>2</div></li>#}
    {#<li class="{{ process == 'success' ? 'active' }}"><span>{{ text_step_3 }}</span><div>3</div></li>#}
  </ul>
</div>
