<div class="main-section-wrapper">
  <form action="#">
    <div class="row">
      {% if not logged %}
        <div class="col-md-3">
          {{ guest_address_section }}
        </div>
      {% endif %}

      <div class="col-md-{{ logged ? 12 : 9 }}">
        {% if logged %}
          {% if shipping_address_section %}
            <div class="row">
              <div class="col-md-12">
                {{ shipping_address_section }}
              </div>
            </div>
          {% endif %}

          {% if payment_address_section %}
            <div class="row">
              <div class="col-md-12">
                {{ payment_address_section }}
              </div>
            </div>
          {% endif %}
        {% endif %}

        <div class="row">
          <div class="col-md-{{ is_pickup ? 12 : 6 }}">
            {{ payment_method_section }}
          </div>
          {% if not is_pickup %}
            <div class="col-md-6">
              {{ shipping_method_section }}
            </div>
          {% endif %}
        </div>

        {{ total_section }}
        {{ cart_section }}
        {{ comment_section }}
        {{ agree_section }}
        <div class="button-submit-wrapper">
          <input type="button" value="{{ text_checkout_confirm }}" id="button-submit" data-loading-text="{{ text_loading }}" class="btn btn-primary pull-right btn-lg" />
        </div>
      </div>
    </div>
  </form>
</div>
