<div class="checkout-section" id="payment-method-section">
  <h2>{{ text_checkout_payment_method }}</h2>
  {% if error_warning %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  {% if payment_methods %}
    {% for payment_method in payment_methods %}
    <div class="radio {{ payment_method.code == code or not code ? 'active' }}">
      <label>
        {% if payment_method.code == code or not code %}
          {% set code = payment_method.code %}
          <input type="radio" name="payment_method" value="{{ payment_method.code }}" checked="checked"/>
        {% else %}
          <input type="radio" name="payment_method" value="{{ payment_method.code }}" />
        {% endif %}
        {{ payment_method.title }}
        {% if payment_method.terms %}
          ({{ payment_method.terms }})
        {% endif %}
      </label>
    </div>
    {% endfor %}
  {% endif %}
</div>
