<div class="checkout-section" id="payment-address-section">
  <div class="title-wrapper">
    <h2>{{ text_checkout_payment_address }} <span class="btn-new-address">{{ text_address_new }}</span></h2>
  </div>
  {% if addresses|length %}
    <div id="payment-existing">
      <ul>
        {% for address in addresses %}
        <li data-address-id="{{ address.address_id }}" class="{{ address.address_id == address_id ? 'active' }}">
          <div class="item">
            {% if address.address_id == address_id %}
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            {% endif %}
            {{ helper.address_format(address, address.address_format)|replace({'<br />': ' '}) }}
          </div>
          <div class="address-action">
            <span class="edit">{{ button_edit }}</span>
          </div>
        </li>
        {% endfor %}
        {% if addresses|length > 1 %}
        <div class="show-more">{{ text_more }} <i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
        {% endif %}
      </ul>
      <input type="hidden" name="payment_address_id" value="{{ address_id }}">
    </div>
  {% else %}
    <p>{{ text_address_new }}</p>
  {% endif %}
</div>
