<div class="right-section-wrapper">
  <div class="row">
    <div class="col-md-6">
      {{ payment_method_section }}
    </div>
    <div class="col-md-6">
      {{ shipping_method_section }}
    </div>
  </div>
  {{ cart_section }}
  {{ comment_section }}
  {{ agree_section }}
  <input type="button" value="{{ text_checkout_confirm }}" id="button-submit" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-block" />
</div>
