<div class="checkout-section" id="shipping-method-section">
  <h2>{{ text_checkout_shipping_method }}</h2>
  {% if shipping %}
    {% if error_warning %}
      <div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    {% if shipping_methods %}
      {% for shipping_method in shipping_methods %}
        {% if false %}
        <p><strong>{{ shipping_method.title }}</strong></p>
        {% endif %}
        {% if not shipping_method.error %}
          {% for quote in shipping_method.quote %}
          <div class="radio {{ quote.code == code or not code ? 'active' }}">
            <label>
              {% if quote.code == code or not code %}
                {% set code = quote.code %}
                <input type="radio" name="shipping_method" value="{{ quote.code }}" checked="checked" />
              {% else %}
                <input type="radio" name="shipping_method" value="{{ quote.code }}" />
              {% endif %}
              {% if quote.logo %}<img src="{{ quote.logo }}"/>{% endif %}
              {{ quote.title }} - {{ quote.text }}</label>
          </div>
          {% endfor %}
        {% else %}
          <div class="alert alert-danger alert-dismissible">{{ shipping_method.error }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% else %}
    <div class="alert alert-success">{{ text_shipping_not_required }}</div>
  {% endif %}
</div>
