<div class="checkout-section" id="shipping-address-section">
  <div class="title-wrapper">
    <h2>
      {{ text_checkout_shipping_address }}
      {% if logged and addresses|length %}
        <span class="btn-new-address">{{ text_address_new }}</span>
      {% endif %}
    </h2>
  </div>
  {% if addresses|length %}
    <div id="shipping-existing">
      <ul>
        {% for address in addresses %}
        <li data-address-id="{{ address.address_id }}" class="{{ address.address_id == address_id ? 'active' }}">
          <div class="item">
            {% if address.address_id == address_id %}
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            {% endif %}
            {{ helper.address_format(address, address.address_format)|replace({'<br />': ' '}) }}
          </div>
          <div class="address-action">
            <span class="edit">{{ button_edit }}</span>
          </div>
        </li>
        {% endfor %}
        {% if addresses|length > 1 %}
        <div class="show-more">{{ text_more }} <i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
        {% endif %}
      </ul>
      {% if logged %}
        <input type="hidden" name="shipping_address_id" value="{{ address_id }}">
      {% endif %}
    </div>
  {% else %}
  <div class="no-addresses">
    <div class="btn-new-address">
      <span>
        <i class="fa fa-map-marker" aria-hidden="true"></i> {{ text_address_new }}
      </span>
    </div>
  </div>
  {% endif %}
</div>
