<div class="checkout-section" id="if-pickup-section">
  <div class="title-wrapper">
    <h2>
      {{ text_checkout_if_pickup }}
    </h2>
  </div>
  <div class="radio {{ not is_pickup ? 'active' }}">
    <label><a href="{{ href.shipping }}">{{ text_shipping }}</a></label>
  </div>
  <div class="radio {{ is_pickup ? 'active' }}">
    <label><a href="{{ href.pickup }}">{{ text_pickup }}</a></label>
  </div>
</div>
