<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
            <h4 class="modal-title" id="myModalLabel">找回密码
                <p>
                    <a data-target="#myModal" ajax-model="{{ url(['for':'password']) }}" href="{{ url(['for':'password']) }}">返回上一步</a>，
                    <a data-target="#myModal" ajax-model="{{ url(['for':'register']) }}" href="{{ url(['for':'register']) }}">注册新账号</a>
                    或者<a ajax-model="{{ url(['for':'password']) }}" href="{{ url(['for':'login']) }}">登录</a>
                </p>
            </h4>
        </div>
        <div class="modal-body">
            {{ content() }}
            <div class="form-one login-body">
                {{ view.r(data) }}
            </div>
        </div>
    </div>
</div>
