{{ header }}
<div id="product-manufacturer-list" class="container">
  {{ include(helper.template('_partial/breadcrumb')) }}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      {% if categories %}
      <p class="title"><strong>{{ text_index }}</strong> {% for category in categories %}
        &nbsp;&nbsp;&nbsp;<a href="index.php?route=product/manufacturer#{{ category.name }}">{{ category.name }}</a> {% endfor %} </p>
      {% for category in categories %}
      <div class="manufacturer-list">
        <h2 id="{{ category.name }}">{{ category.name }}</h2>
        {% if category.manufacturer %}
        {% for manufacturers in category.manufacturer|batch(4) %}
        <div class="row">
          {% for manufacturer in manufacturers %}
          <div class="col-sm-3 col-xs-6">
            <div class="image">
              <a href="{{ manufacturer.href }}"><img src="{{ manufacturer.thumb }}"><br>{{ manufacturer.name }}</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
      {% endif %}
      {% endfor %}
      {% else %}
      <p>{{ text_no_results }}</p>
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
