{{ header }}
<div id="product-manufacturer" class="container">
  {{ include(helper.template('_partial/breadcrumb')) }}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2>{{ heading_title }}</h2>
      {% if products %}
      {{ include(helper.template('_partial/product/filter_bar_block')) }}
      {% if style == 'list' %}
        {% set class = 'product-list col-xs-12' %}
      {% else %}
        {% if column_left and column_right %}
        {% set class = 'product-grid col-lg-6 col-md-6 col-sm-6 col-xs-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'product-grid col-lg-4 col-md-4 col-sm-6 col-xs-6' %}
        {% else %}
        {% set class = 'product-grid col-lg-3 col-md-3 col-sm-6 col-xs-6' %}
        {% endif %}
      {% endif %}
      <div class="row">{% for product in products %}
        <div class="product-layout {{ class }}">
          {{ include(helper.template('_partial/product/product_single')) }}
        </div>
        {% endfor %}</div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% else %}
      <p>{{ text_no_results }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
