<div class="col-xs-12 dataTables_wrapper">
    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
        <thead>
        <tr>
            <th class="center">
                <input type="checkbox" class="checkAll" name="checkAll"> <span class="lbl"></span>
            </th>
            {% for item in entityManager.getEntityType('node').getThead() %}
                <th class="center">{{ item['name'] }}</th>
            {% endfor %}
            <th id="th-handle">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data.items %}
            <tr class="tr-{{ item.id }}">
                <td class="center">
                    <input type="checkbox" class="checkAll" name="checkAll[{{ item.node_id }}]"> <span
                            class="lbl"></span>
                </td>
                {% for key,value in entityManager.getEntityType('node').getThead() %}
                    <td class="center">
                        {{ view.r(getVar(item,key)) }}
                    </td>
                {% endfor %}
                <td class="center">
                    {% for key,link in item.links() %}
                        <a href="{{ url(link['href']) }}" class="btn btn-xs btn-{{ link['icon'] }}"
                           data-target="#main">{{ link['name'] }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">没有数据</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="space-4"></div>
    {% if handle is defined %}
        <p>
            <i>选中文章：</i>
            {{ handle.getElement('action') }}
            <button type="submit" class="btn btn-xs btn-success" value="recycle">提交</button>
        </p>
    {% endif %}
    <div class="space-8"></div>
    {{ partial("Themes/AdminLTE/templates/paginator") }}
</div>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>