{% if wrapper == true %}
<div class="col-sm-{{ size }}"{% if id is defined %} id="{{ id }}"{% endif %}>
{% endif %}
    <div class="box box-{{ color }} box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">{{ title }}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            {{ view.r(content) }}
        </div>
        <!-- /.box-body -->
        <!-- /.box-footer-->
    </div>
{% if wrapper == true %}
</div>
{% endif %}