<section class="content-header">
    <h1>
        {{ title }}
        <small>{{ description }}</small>
        <a href="{{ request.getURI() }}" data-target="#main" class="label label-success arrowed"><i
                    class="fa fa-refresh"></i>&#12288;刷新页面</a>
    </h1> {% block breadcrumb %}
        <ol class="breadcrumb">
            <li><a data-target="#main" href="{{ url(['for':'adminIndex']) }}"><i class="fa fa-dashboard"></i>首页</a></li>
            {% for item in breadcrumb %} {% if item['href'] is defined %}
                <li><a data-target="#main" href="{{ url(item['href']) }}">{{ item['name'] }}</a></li>
            {% else %}
                <li class="active">{{ item['name'] }}</li>
            {% endif %} {% endfor %}
        </ol>
    {% endblock %}
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12">{{ content() }}</div>
        {{ view.r(content) }}
    </div>
</section>
{{ assets.output(null,null,'footer') }}