{% if helper.is_ft() %}
  <div class="row">
    <div class="col-xs-4">
      <select id="input-pre-telephone" name="calling_code" class="form-control" data-toggle="tooltip">
        {% for country in helper.get_calling_codes() %}
          {% if calling_code == country.code %}
            <option value="{{ country.code }}" selected="selected">{{ country.name }}</option>
          {% else %}
            <option value="{{ country.code }}">{{ country.name }}</option>
            {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="col-xs-8">
      <input name="telephone" value="{{ telephone }}" id="input-telephone"
             class="form-control" placeholder="{{ entry_telephone }}" />
    </div>
  </div>
{% else %}
  <input type="hidden" name="calling_code" value="{{ calling_code }}">
  <input name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone"
         class="form-control"/>
{% endif %}
