<div class="product-thumb">
  <div class="image">
  	<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
  	<div class="button-group">
	  	<button type="button" class="btn btn-default" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
	  	<button type="button" class="btn btn-default" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
  	</div>
  </div>
  <div class="caption">
    {{ include(helper.template('_partial/product/rating_block')) }}
    <h4 class="product-name"><a href="{{ product.href }}" title="{{ product.name }}">{{ product.name }}</a></h4>
    <p class="product-description hidden-xs">{{ product.description }}</p>
    {{ include(helper.template('_partial/product/price_block')) }}
	  {{ include(helper.template('_partial/product/product_button_block')) }}
  </div>
</div>
