<table class="table table-striped table-bordered table-hover" id="sample-table-1">
    <thead>
    <tr>
        <th class="center">
            <input type="checkbox" class="checkAll" name="checkAll"> <span class="lbl"></span>
        </th>
        <th class="center">ID</th>
        <th class="center">内容</th>
        <th class="center">类型</th>
        <th class="center">用户</th>
        <th class="center">创建时间</th>
        <th class="center">最近更改</th>
        <th class="center">操作</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data.items %}
        <tr class="tr-{{ item.id }}">
            <td class="center">
                <input type="checkbox" class="checkAll" name="checkAll[{{ item.id }}]"> <span
                        class="lbl"></span>
            </td>
            <td class="center">{{ item.id }}</td>
            <td>
                <a href="{{ url(['for':'node','id':item.id]) }}" data-toggle="tooltip" target="_blank"
                   data-placement="right" title="访问{{ item.title }}">{{ subString(item.title,20,true) }}...</a>
            </td>
            <td class="center hidden-sm hidden-xs">
                <a data-target="#main" href="{{ url }}?type={{ item.contentModel }}" data-toggle="tooltip"
                   target="_blank" data-placement="right" title="只查看类型文章">{{ getVar(item,'contentModel') }}</a>
            </td>
            <td class="center hidden-sm hidden-xs">
                {% if item.uid %}
                    <a data-target="#main" href="{{ url }}?uid={{ item.uid }}" data-toggle="tooltip"
                       target="_blank" data-placement="right"
                       title="只查看该用户文章">{{ item.user.name }}</a>
                {% else %}匿名用户{% endif %}
            </td>
            <td class="center hidden-sm hidden-xs">{{ timeTran(item.created) }}</td>
            <td class="center hidden-sm hidden-xs">{{ timeTran(item.changed) }}</td>
            <td class="center">
                {% for key,link in item.links() %}
                    <a href="{{ url(link['href']) }}" class="btn btn-xs btn-{{ link['icon'] }}"
                       data-target="#main">{{ link['name'] }}</a>
                {% endfor %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">没有数据</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="space-4"></div>
{{ partial("Themes/AdminLTE/templates/paginator") }}