{% extends "BluehouseappWebBundle:Frontend/layout:layout.html.twig" %}

{% block title %}修改个人资料{% endblock %}
{% block body %}
    <div class="h20"></div>
<div class="row-fluid">
    <div  class= "box">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="box_cell">
                    <table>
                        <tbody>
        {% if member.avatar %}
            <tr>
                            <td width="120" style="text-align:right;">
                                头像
                                <br>
                                (小于1MB
                                <br>
                                JPG/PNF/GIF):
                            </td>
                            <td width="auto">
                                <img src="{{vich_uploader_asset(member,'userImage')|imagine_filter('avatar_image')}}" border="0"  align="default">&nbsp;
                                <img src="{{vich_uploader_asset(member,'userImage')|imagine_filter('small_image')}}"  border="0"  align="default">&nbsp;
                                <img src="{{vich_uploader_asset(member,'userImage')|imagine_filter('mini_image')}}" border="0"  align="default">
                            </td>
                        </tr>
        {% endif %}
                        <tr>
                            <td width="120">

                            </td>
                            <td width="auto">
                                {{form(memberImageForm)}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="h20"></div>
    <div class="box">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div style="margin: 20px;">
                    {{form(form)}}
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>



</div>

{% endblock %}