{% extends base_template %}

{% block title %}
    User Profile
{% endblock %}

{% block tab_menu %}
    <span style="padding: 15px 0px;display: block;color: #777777">User Profile</span>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('other/cropper/cropper.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/prestaimage/css/cropper.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/backend/admin_user_profile/index.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('other/cropper/cropper.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/prestaimage/js/cropper.js') }}" type="text/javascript"></script>
{% endblock %}

{% block show %}
    <section class="content" style="padding-top: 0px;">
        <div class="row">
            <div class="col-md-3" style="padding-left: 0px;">
                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" style="width: 120px; height: 120px" src="{{ vich_uploader_asset(app.user, 'avatar_file') }}" alt="User profile picture" onerror="$(this).attr('src','{{ asset('/images/sf-positive.svg') }}')">
                        <h3 class="profile-username text-center">{{ app.user.username }}</h3>
                        <p class="text-muted text-center">{{ app.user.email }}</p>
                        <a href="{{ path('app_logout') }}" class="btn btn-primary btn-block"><b>Sign Out</b></a>
                    </div>
                </div>
                <!-- About Me Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">About Me</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <strong><i class="fa fa-users margin-r-5"></i> Admin User Group</strong>
                        <p class="text-muted">{{ app.user.adminUserGroupName }}</p>
                        <hr>
                        <strong><i class="fa fa-mail-forward margin-r-5"></i> Email</strong>
                        <p class="text-muted"><a href="mailto:{{ app.user.email }}">{{ app.user.email }}</a></p>
                        <hr>
                        <strong><i class="fa fa-commenting-o margin-r-5"></i> Motto</strong>
                        <p class="text-muted">一切皆有可能，能做好每一件事才能有志者事竞成。</p>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9" style="padding: 0px">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            Profile
                        </h4>
                    </div>
                    <div class="box-body">
                        {{ form_start(form) }}
                            <div class="sonata-ba-collapsed-fields">
                                <div id="admin_user_email" class="form-group {% if form.email.vars.errors|length %}has-error{% endif %}">
                                    <label class="control-label" for="admin_user_email"> {{ form_label(form.email) }} </label>
                                    <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                        {{ form_widget(form.email) }}
                                        {{ form_errors(form.email) }}
                                        <span class="help-block sonata-ba-field-widget-help">
                                            {{ form_help(form.email) }}
                                        </span>
                                    </div>
                                </div>
                                <div id="admin_user_password_first" class="form-group {% if form.password.first.vars.errors|length %}has-error{% endif %}">
                                    <label class=" control-label" for="admin_user_password_first"> {{ form_label(form.password.first) }} </label>
                                    <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                        {{ form_widget(form.password.first) }}
                                        {{ form_errors(form.password.first) }}
                                        <span class="help-block sonata-ba-field-widget-help">
                                            {{ form_help(form.password.first) }}
                                        </span>
                                    </div>
                                </div>
                                <div id="admin_user_password_second" class="form-group {% if form.password.second.vars.errors|length %}has-error{% endif %}">
                                    <label class=" control-label" for="admin_user_password_second"> {{ form_label(form.password.second) }} </label>
                                    <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                        {{ form_widget(form.password.second) }}
                                        {{ form_errors(form.password.second) }}
                                        <span class="help-block sonata-ba-field-widget-help">
                                            {{ form_help(form.password.second) }}
                                        </span>
                                    </div>
                                </div>
                                <div id="admin_user_avatar_file" class="form-group {% if form.avatar_file.vars.errors|length %}has-error{% endif %}">
                                    <label class="control-label" for="admin_user_avatar_file"> {{ form_label(form.avatar_file) }} </label>
                                    <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                        {{ form_widget(form.avatar_file) }}
                                        {{ form_errors(form.avatar_file) }}
                                        <span class="help-block sonata-ba-field-widget-help">
                                            {{ form_help(form.avatar_file) }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left" style="padding: 10px 0px">
                                {{ form_widget(form.save) }}
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </section>

    <script>
        $(function () {
            $('.cropper').each(function () {
                new Cropper($(this));
            });
        });
    </script>
{% endblock %}
