{{ header }}
<div id="checkout-cart-empty" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="no-items">
        <img src="{{ helper.url().fullPathLink('catalog/view/theme/default/image/no_items.png') }}" class="img-responsive">
        <span>{{ text_error }}</span>
        <br>
        <br>
        <a href="{{ continue }}" class="btn btn-primary">{{ button_shopping }}</a>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
