{{ header }}
<div id="quick-checkout-connect" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      {{ include(helper.template('checkout/checkout/_checkout_process'), {process: 'success'}) }}
        <div class="quick-checkout-connect-wrapper">
          <div class="order-info">
            <div class="icon-wrapper">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <div class="row"></div>
            <div class="inner-wrapper">
              <h2 class="title">{{ text_success }} {{ payment_view ? text_note }}</strong></h2>
              <div class="row">
                <div class="col-sm-4"><strong>{{ column_order_id }}</strong>{{ order_id }}</div>
                <div class="col-sm-6"><strong>{{ column_total }}</strong><b class="color-red">{{ total }}</b></div>
              </div>
              <div class="row">
                {% if shipping_method %}
                <div class="col-sm-4"><strong>{{ column_shipping_method }}</strong>{{ shipping_method }}</div>
                {% endif %}
                <div class="col-sm-6"><strong>{{ column_payment_method }}</strong>{{ payment_method }}</div>
              </div>
              {% if payment_view %}
              <div class="row">
                <div class="col-xs-12">
                  <div id="payment-confirm-wrapper">
                    {{ payment_view }}
                  </div>
                </div>
              </div>
              {% else %}
              <div class="view-order">
                <a href="{{ helper.url.link('account/order/info', 'order_id=') ~ order_id }}" class="btn btn-default">{{ button_view_order }}</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
