<li>
        <div class="comment-self" id="comment-item-{{ commentEntity.id }}">
            <div class="ds-avatar">
                <a href="{{ url(['for':'user','id':commentEntity.uid]) }}">
                    <img alt="角落" src="{% if commentEntity.user.face %}{{ commentEntity.user.face }}{% else %}https://avatar.duoshuo.com/avatar-50/214/226670.jpg{% endif %}">
                </a>
            </div>
            <div class="ds-comment-body">
                <div class="ds-comment-header"><a href="{{ url(['for':'user','id':commentEntity.uid]) }}" class="ds-user-name">角落</a></div>
                <div class="comment-body">{{ commentEntity.body }}</div>
                <div class="ds-comment-footer ds-comment-actions"><span title="{{ timeTran(commentEntity.created) }}" class="ds-time">{{ timeTran(commentEntity.created) }}</span>
                    <div class="comment-action">
                        <a{% if user.isLogin() is false %}ajax-model="/login.html" {% endif %} pid="{{ commentEntity.id }}" nid="{{ commentEntity.nid }}" href="#" class="{% if user.isLogin() %}ds-post-reply{% endif %}"><span class="ds-icon ds-icon-reply"></span>回复
                                </a>
                    </div>
                </div>
            </div>
        </div>
        {% set children = commentList(commentEntity.nid,commentEntity.id) %} {% if children.items %}{{ comment_list(children,true,commentEntity.id) }}{% endif %}
    </li>