<div class="uform" id="{{ id }}">
    {{ content() }}
    <form class="form-horizontal ajax_submit" role="{{ id }}" accept-charset="utf-8" method="post" action="{{ data.getAction() }}">
        {% for key,value in data.formEntity %} {{ view.r(data.g(key)) }} {% endfor %} {{ data.csrf() }}
        <input type="hidden" name="{{ data.formId }}" value="{{ data.formId }}">
        <div class="space"></div>
        <div class="group_name">
            <button type="submit" class="right">提交</button>
        </div>
        <div class="clear"></div>
        <div class="space-4"></div>
        <div class="clear"></div>
    </form>
</div>
