{% extends "Themes/Dabbs/templates/page.twig" %} {% block head %}
<title>{{ coreConfig.indexTitle }}</title>
<meta name="description" content="{{ coreConfig.indexDescription }}">
<meta name="keywords" content="{{ coreConfig.indexKeywords }}"> {% endblock %} {% block body %}
<div class="content">
    {{ content() }}
    <div class="title">
        <h3>
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>最新发布
        </h3>
    </div>
    {% for item in entityList('node',['limit':10,'order':'%changed% DESC']) %} {{ view.r(nodeRender(item)) }} {% endfor %}
</div>
{% endblock %}
{% block bottom %}
{% endblock %}
