{% extends "Themes/Dabbs/templates/pageSingle.twig" %}

{% block body %}
    <div class="content-wrap">
        <div class="content">
            <div class="title">
                <h3>
                    <i class="fa fa-user-plus"></i> 登陆
                </h3>
                <a href="{{ url(['for':'register']) }}?rd={{ url }}">注册</a>
                或者<a href="{{ url(['for':'password']) }}">找回密码</a>
            </div>
            {{ content() }}
            <div class="form-one login-body">
                {{ view.r(data) }}
            </div>
        </div>
    </div>
{% endblock %} {% block bottom %}
{% endblock %}
