<article id="top-article">
    <h3>
        <a href="{{ url(['for':'node','id':data.id]) }}" title="{{ data.title }}" rel="bookmark">
            <span class="top">推荐阅读</span>{{ data.title }}
        </a>
    </h3>
    <div class="mate">{{ timeTran(data.changed) }} | 评论：{{ data.comment_num }} | 浏览: {{ data.browse }}</div>
    <div class="intro"><a href="{{ url(['for':'node','id':data.id]) }}" rel="bookmark">
            <p>{% if data.description is defined AND data.description %}{{ data.description }}{% else %}{{ subString(data.body,250,true) }}{% endif %}</p>
        </a></div>
    <ul class="comment-list">
        {% for commentItem in entityList('comment',['limit':7,'order':'%love% DESC,%created% DESC','andWhere':[['conditions':'%nid% = :nid:','bind':['nid':data.id]]]]) %}
            <li class="clearfix">
                <a href="{{ url(['for':'user','id':commentItem.uid]) }}">
                    <img src="{% if commentItem.user.face is defined AND commentItem.user.face %}{{ commentItem.user.face }}{% else %}/images/face/avatar.png{% endif %}">
                </a>
                <div class="user-info">
                    <p class="user-name">
                        <a href="{{ url(['for':'user','id':commentItem.uid]) }}"
                          >{{ commentItem.user.name }}</a><span><i aria-hidden="true"
                                                                                   class="fa fa-ils"></i>{% if commentItem.user.score is defined AND commentItem.user.score %}{{ commentItem.user.score }}{% else %}0{% endif %}</span>
                    </p>
                    <p class="user-description">{{ commentItem.body }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
</article>