{% if data.images AND data.images.countNum() > 1 %}
    <article class="excerpt excerpt-more-images">
        <div class="node-item-title">
            <h2><a href="{{ url(['for':'node','id':data.id]) }}" title="{{ data.title }}">{{ data.title }}</a></h2>
        </div>
        <p class="note">{% if data.description is defined AND data.description %}{{ data.description }}{% else %}{{ subString(data.body,150,true) }}{% endif %}
            ..
        </p>
        <table class="node-images-list">
            <tr>
                {% for img in item.images.valueToArray() %}
                    <td>
                        <img class="thumb" data-src="{% if data.images AND data.images.value %}{{ thumbnail(220,135,img) }}{% else %}//cdn.itdashu.com/themes/dabbs/images/banner/270x165-{{ rand(1,7) }}.png{% endif %}"/>
                    </td>
                {% endfor %}
            </tr>
        </table>
        <p class="meta">
            <time><i class="fa fa-clock-o"></i>{{ timeTran(data.changed) }}</time>
            <span class="pv">
            <i class="fa fa-eye"></i>阅读(<span class="node-browse" node-browse-id="{{ data.id }}">0</span>)
        </span>
            <a class="pc" href="{{ url(['for':'node','id':data.id]) }}#comments">
                <i class="fa fa-comments-o"></i>评论({{ data.comment_num }})
            </a>
            <span class="pv">
            <i aria-hidden="true" class="fa fa-fa"></i>
                {% for item in data.tags %}
                    <a class="tags" rel="tag" title="{{ item.term.name }}" href="{{ url(['for':'term','id':item.value,'page':1]) }}">{{ item.term.name }}</a> {% endfor %}
        </span>
        </p>
    </article>
{% else %}
<article class="excerpt">
    <a href="{{ url(['for':'node','id':data.id]) }}" class="focus">
        <img class="thumb" data-src="{% if data.images AND data.images.value %}{{ thumbnail(220,135,data.images.value) }}{% else %}//cdn.itdashu.com/themes/dabbs/images/banner/270x165-{{ rand(1,7) }}.png{% endif %}"/>
    </a>
    <div class="node-item-title">
        <h2><a href="{{ url(['for':'node','id':data.id]) }}" title="{{ data.title }}">{{ data.title }}</a></h2>
    </div>
    <p class="note">{% if data.description is defined AND data.description %}{{ data.description }}{% else %}{{ subString(data.body,150,true) }}{% endif %}
        ..
    </p>
    <p class="meta">
        <time><i class="fa fa-clock-o"></i>{{ timeTran(data.changed) }}</time>
        <span class="pv">
            <i class="fa fa-eye"></i>阅读(<span class="node-browse" node-browse-id="{{ data.id }}">0</span>)
        </span>
        <a class="pc" href="{{ url(['for':'node','id':data.id]) }}#comments">
            <i class="fa fa-comments-o"></i>评论({{ data.comment_num }})
        </a>
        <span class="pv">
            <i aria-hidden="true" class="fa fa-fa"></i>
            {% for item in data.tags %}
                <a class="tags" rel="tag" title="{{ item.term.name }}" href="{{ url(['for':'term','id':item.value,'page':1]) }}">{{ item.term.name }}</a> {% endfor %}
        </span>
    </p>
</article>
{% endif %}