{% extends "Themes/Dabbs/templates/page.twig" %} {% block body_class %}single single-post postid-129 single-format-standard nav_fixed p_indent comment-open site-layout-2{% endblock %} {% block body %}
<div class="content">
    {{ content() }}
    <div class="article-header">
        <h1 class="article-title">
                <a href="{{ url(['for':'node','id':data.id]) }}">{{ data.title }}</a></h1>
        <div class="article-meta">
            <span class="item user">发布者：
                    {% if data.uid AND data.user %}
                        <a href="{{ url(['for':'user','id':data.uid]) }}">{{ data.user.name }}</a>
                    {% endif %}
                </span>
            <span class="item">时间：{{ timeTran(data.changed) }}</span>
            <span class="item">板块：
                </span>
            <span class="item post-views">阅读({{ data.browse }})</span>
            <span class="item">评论({{ data.comment_num }})</span>
            <span class="item"></span>
        </div>
    </div>
    <article class="article-content">{{ data.body }}</article>
    {% for item in data.tags %} {% if loop.first %}
    <div class="article-tags">
        <i aria-hidden="true" class="fa fa-tag"></i> {% endif %}
        <a rel="tag" href="{{ url(['for':'term','id':item.value,'page':1]) }}">{{ item.term.name }}</a> {% if loop.last %}</div>{% endif %} {% endfor %}
</div>
    {{ view.r(comment(data)) }}

{% endblock %} {% block right_box %}
<aside class="sidebar">
    <div class="widget widget_ui_text_list viewthread_author">
        <div class="single-post-user-info">
            <div class="viewthread_author_avatar">
                <a target="_blank" title="admin" href="space-uid-1.html"><img src="http://122.114.139.103/demo/qwq/uc_server/avatar.php?uid=1&amp;size=middle"></a>
            </div>
            <div class="viewthread_author_info">
                <p><a target="_blank" title="admin" href="space-uid-1.html"><strong>admin</strong></a></p>
            </div>
            <div class="viewthread_author_stat">
                <ul>
                    <li style="border-width: 0 1px 0 0;border-style: solid;border-color: #f1f1f1;"><a target="_blank" href="space-uid-1.html">250</a>
                        <p>积分</p>
                    </li>
                    <li style="border-width: 0 1px 0 0;border-style: solid;border-color: #f1f1f1;"><a target="_blank" href="space-uid-1.html">64</a>
                        <p>帖子</p>
                    </li>
                    <li><a target="_blank" href="space-uid-1.html">63</a>
                        <p>主题</p>
                    </li>
                </ul>
            </div>
            <div class="viewthread_author_act">
                <a class="btn btn-info" target="_blank" href="{{ url(['for':'user','id':data.user.id]) }}">Ta的主页</a>
                <a class="btn btn-default" title="发消息" href="#">发消息</a>
            </div>
        </div>
        <ul class="widget_body">
            {% for item in entityList('node',['limit':5]) %}
            <li><i><em></em></i><a target="_blank" href="{{ url(['for':'node','id':item.id]) }}">{{ item.title }}</a>
                <p>{{ timeTran(item.changed) }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</aside>
{% endblock %} {% block bottom %}
<script src="//cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
<link href="//cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
<script>
hljs.initHighlightingOnLoad();
</script>
    <script>document.write(unescape('%3Cdiv id="hm_t_114769"%3E%3C/div%3E%3Cscript charset="utf-8" src="http://crs.baidu.com/t.js?siteId=1abeb845aac1917457e6ae8b91da4f29&planId=114769&async=0&referer=') + encodeURIComponent(document.referrer) + '&title=' + encodeURIComponent(document.title) + '&rnd=' + (+new Date) + unescape('"%3E%3C/script%3E'));</script>
{% endblock %}
