{% extends "Themes/Dabbs/templates/page.twig" %}
{% block head %}
    <title>{{ title }}{% if page > 1 %} 第{{ page }}页{% endif %}-{{ coreConfig.name }}</title>
    <meta name="description" content="{% if term.description is defined AND term.description %}{{ term.description }}{% else %}{{ coreConfig.indexDescription }}{% endif %}">
    <meta name="keywords" content="{% if keywords is defined %}{{ keywords }}{% else %}{{ title }}{% endif %}">
    <meta name="apple-mobile-web-app-title" content="{{ title }}">
{% endblock %}
{% block body_class %} class="images-list nav_fixed"{% endblock %}
{% block head %}
    <title>{{ title }}-{{ coreConfig.name }}</title>
    <meta name="description" content="{{ nodeType['description'] }}">
    <meta name="keywords" content="{{ nodeType['keywords'] }}">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="title">
            <h1>{{ term.name }}</h1>
            <p>{{ term.description }}</p>
        </div>
        {{ content() }}
        {% for item in data.items %}
            <article class="col-md-3 col-lg-3 col-sm-4 col-xs-6">
                <a title="{{ item.title }}" href="{{ url(['for':'node','id':item.id]) }}">
                    <img alt="{{ item.title }}" class="thumb"
                         data-src="{% if item.images AND item.images.value %}{{ thumbnail(270,200,item.images.value) }}{% else %}/themes/dacms/images/banner/270x165-{{ rand(1,7) }}.png{% endif %}">
                </a>
                <h4><a title="{{ item.title }}" href="{{ url(['for':'node','id':item.id]) }}">{{ item.title }}</a></h4>
                <div class="note">{% if item.description is defined AND item.description %}{{ item.description }}{% else %}{{ subString(item.body,65,true) }}{% endif %}
                    ..
                </div>
            </article>
        {% endfor %}
        <div class="clear"></div>
        {{ partial("Themes/Dabbs/templates/paginator") }}
    </div>
{% endblock %}
{% block right_box %}
    {{ view.r(['#templates':['right-box','right-box-term','right-box-term-'~term.contentModel,'right-box-term-'~term.id]]) }}
{% endblock %}