{% extends "Themes/Dabbs/templates/page.twig" %}
{% block head %}
    <title>{{ title }}{% if page > 1 %} 第{{ page }}页{% endif %}-{{ coreConfig.name }}</title>
    <meta name="description"
          content="{% if term.description is defined AND term.description %}{{ term.description }}{% else %}{{ coreConfig.indexDescription }}{% endif %}">
    <meta name="keywords" content="{% if keywords is defined %}{{ keywords }}{% else %}{{ title }}{% endif %}">
    <meta name="apple-mobile-web-app-title" content="{{ title }}">
{% endblock %}
{% block body_class %} class="category nav_fixed"{% endblock %} {% block body %}
    <div class="content">
        <div class="title">
            <h1>{{ term.name }}</h1>
            <p>{{ term.description }}</p>
        </div>
        {{ content() }} {% for item in data.items %} {{ view.r(nodeRender(item)) }} {% endfor %} {{ partial("Themes/Dabbs/templates/paginator") }}
    </div>
{% endblock %} 
{% block right_box %}
    {{ view.r(['#templates':['right-box','right-box-term','right-box-term-'~term.contentModel,'right-box-term-'~term.id]]) }}
{% endblock %}
