{% extends "Themes/Tolowan/templates/page.twig" %} {% block head %}
<title>{{ title }}</title>
<meta name="description" content="{{ description }}"> {% endblock %}
{% block body %}
<?php $data->body = $data->body.'<h4>图书目录</h4>';  ?>
{% set data = node_toc(data,'body') %} {% include 'Themes/Tolowan/templates/breadcrumb-node.twig' %}
<!-- heading -->
<div id="wiki-document-head" class="document-head">
    <h1 class="node-title">{{ title }}</h1> {% include 'Themes/Tolowan/templates/shared.twig' %}
</div>
<div id="wiki-column-container" class="wiki-right-present wiki-left-closed wiki-left-none">
    <!-- content row with three strips -->
    <div class="column-container column-container-reverse">
        <div id="wiki-right" class="column-strip wiki-column">
            <!-- table of contents -->
            <div id="toc" class="toc toggleable">
                {{ view.r(data.toc) }}
            </div>
        </div>
        <div id="wiki-content" class="column-half wiki-column text-content">
            <article class="toc">{{ data.body }} {{ view.r(book_content(data.id)) }}
            </article>
            <!-- contributors -->
            <div class="wiki-block contributors">
                <h2 class="offscreen">文档标签和贡献者</h2>
                <div class="tag-attach-list contributors-sub">
                    <i aria-hidden="true" class="fa fa-tags fa-fw"></i>
                    <strong>标签：</strong>&nbsp;
                    <ul class="tags tags-small">
                        {% for item in node_term(['eid':data.id,'field':'tags','module':'node']) %}
                        <li><a href="{{ url(['for':'term','type':item.type,'tid':item.tid,'page':1]) }}">{{ term(item.tid,'name') }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="contributors-sub">
                    <i aria-hidden="true" class="fa fa-group fa-fw"></i>&nbsp;<strong>分类：</strong>
                    <?php if($cat){ ?>
                        <a href="{{ url(['for':'term','type':cat.type,'tid':cat.tid,'page':1]) }}">{{ term(cat.tid,'name') }}</a>
                    <?php } ?>
                </div>
                <div class="contributors-sub">
                    <i aria-hidden="true" class="fa fa-clock-o fa-fw"></i>&nbsp;<strong>最后时间：</strong>
                    <time datetime="{{ date('Y年m月d日 H点',data.changed) }}">{{ date('Y年m月d日 H点',data.changed) }}</time>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block bottom %}
<script src="/themes/tolowan/js/js.js"></script>
{% endblock %}
