{% extends "Themes/Dabbs/templates/page.twig" %}
{% block head %}
    <title>{{ title }}{% if page > 1 %} 第{{ page }}页{% endif %}-{{ coreConfig.name }}</title>
    <meta name="description" content="{% if description is defined %}{{ description }}{% else %}{{ coreConfig.indexDescription }}{% endif %}">
    <meta name="keywords" content="{% if keywords is defined %}{{ keywords }}{% else %}{{ title }}{% endif %}">
    <meta name="apple-mobile-web-app-title" content="{{ title }}">
{% endblock %}
{% block body_class %}term-list-bbs blog nav_fixed site-layout-2{% endblock %} {% block body %}
<div class="content">
    {{ content() }}
    <ul class="bbs-list">
        {% for item in data.items %}
        <li class="clearfix">
            <a class="comment_num" title="已产生 {{ item.comment_num }} 个回复" target="_blank" href="{{ url(['for':'node','id':item.id]) }}">
                    {{ item.comment_num }}
                </a>
            <div class="node-title">
                <a class="s xst" href="{{ url(['for':'node','id':item.id]) }}">{{ item.title }}</a>
                {% if item.images %}
                <img align="absmiddle" title="图片附件" alt="attach_img" src="//cdn.itdashu.com/themes/dabbs/images/image_s.gif"> {% endif %} {% if item.essence %}
                <img align="absmiddle" title="精华 3" alt="digest" src="//cdn.itdashu.com/themes/dabbs/images/digest_3.png"> {% endif %} {% if item.top %}
                <a target="_blank" title="全局置顶主题 - 新窗口打开" href="{{ url(['for':'node','id':item.id]) }}">
                    <img align="absmiddle" alt="全局置顶" src="//cdn.itdashu.com/themes/dabbs/images/pin_3.gif">
                </a>
                {% endif %}
            </div>
            <div class="info">
                <em class="float-left">
<a c="1" href="{{ url(['for':'node','id':item.id]) }}" mid="card_3305">test</a>           <span>@</span><span>{{ timeTran(item.changed) }}</span>
</em>
                <em class="float-right">
    <a  c="1" href="space-uid-1.html" mid="card_5238">admin</a>最后回复于
                <span>2016-7-7</span></em>
            </div>
        </li>
        {% endfor %}
    </ul>
    {{ partial("Themes/Dabbs/templates/paginator") }}
</div>
{% endblock %} {% block bottom %} {% endblock %}
