{% extends "Themes/Dabbs/templates/page.twig" %}
{% block body %}
<div class="content">
    <div class="title">
        <h3>
            <i class="fa fa-edit"></i> 编辑用户资料
        </h3>
        <a href="{{ url(['for':'logout']) }}?rd={{ url(['for':'index']) }}">登出账户</a>
    </div>
    {{ content() }}
    {{ view.r(content) }}
</div>
{% endblock %} {% block right_box %}
<aside class="sidebar">
    <div id="user-center-box" class="crop-avatar">
        <!-- table of contents -->
        <div class="box">
            <div class="user-info-face clear avatar-view">
                <img id="face" src="{% if userInfo.face %}{{ userInfo.face }}{% else %}/images/face/avatar.png{% endif %}" />
                <div class="user-meta">
                    <p class="user-name">{{ userInfo.name }}<b>LV 8</b></p>
                    <p class="score">
                        <span href="javascript:;">
                                <i aria-hidden="true" class="fa fa-ils"></i>{% if userInfo.score %}{{ userInfo.score }}{% else %}0{% endif %}
                            </span>
                        <span>
                                <i aria-hidden="true" class="fa fa-btc"></i>{% if userInfo.gold %}{{ userInfo.gold }}{% else %}0{% endif %}
                            </span>
                        <a href="javascript:;">修改头像</a>
                    </p>
                </div>
            </div>
            <p class="description">{% if userInfo.description %}{{ userInfo.description }}{% else %}这个人很懒，什么都没有留下{% endif %}</p>
        </div>
        <h3>基本资料</h3>
        <ul id="user-action-list" class="box">
            <li><a href="#"><i aria-hidden="true" class="fa fa-lock"></i>性别：不能鉴定</a></li>
            <li><a href="#"><i aria-hidden="true" class="fa fa-phone"></i>手机: 公开<span
                                class="btn-small btn-error">未认证</span></a></li>
            <li><a href="#"><i aria-hidden="true" class="fa fa-envelope-square"></i>邮箱: 不公开<span
                                class="btn-small btn-success">未认证</span></a></li>
            <li><a href="#"><i aria-hidden="true" class="fa fa-question-circle-o"></i>QQ：保密</a></li>
            <li><a href="#"><i aria-hidden="true" class="fa fa-wpforms"></i>给他留言</a></li>
        </ul>
        {% include 'Themes/Dabbs/templates/crop-avatar-user-face.twig' %}
    </div>
</aside>
{% endblock %} {% block bottom %}
<script src="//cdn.bootcss.com/cropper/2.3.2/cropper.min.js"></script>
<script src="//cdn.itdashu.com/library/crop-avatar/crop-avatar-main.js"></script>
<link href="//cdn.bootcss.com/cropper/2.3.2/cropper.min.css" rel="stylesheet">
<link href="//cdn.itdashu.com/library/crop-avatar/crop-avatar-main.css" rel="stylesheet"> {% endblock %}
