{% extends "Themes/Dabbs/templates/pageSingle.twig" %}
{% block body %}
    <div class="content-wrap">
        <div class="content">
            <div class="title">
                <h3>
                    <i class="fa fa-user-plus"></i>找回密码
                </h3>
                <span class="hehe">
                    <a href="{{ url(['for':'password']) }}">返回上一步</a>，
                    <a href="{{ url(['for':'login']) }}">登陆</a>或者<a href="{{ url(['for':'register']) }}">注册</a></span>
            </div>
            <hr>
            {{ content() }}

            <div class="form-one login-body">
                {{ view.r(data) }}
            </div>
        </div>
    </div>
{% endblock %} {% block bottom %}
{% endblock %}
