{% extends "Themes/Dabbs/templates/page.twig" %}
{% block head %}
    <title>{{ title }}{% if page > 1 %} 第{{ page }}页{% endif %}-{{ coreConfig.name }}</title>
    <meta name="description"
          content="{% if description is defined %}{{ description }}{% else %}{{ coreConfig.indexDescription }}{% endif %}">
    <meta name="keywords" content="{% if keywords is defined %}{{ keywords }}{% else %}{{ title }}{% endif %}">
    <meta name="apple-mobile-web-app-title" content="{{ title }}">
{% endblock %}
{% block body_class %} class="category search-page nav_fixed"{% endblock %}
{% block body %}
    <div class="content">
        {{ content() }}
        <form id="bg-search-form" method="post" class="site-search-form" action="/search_submit">
            <input type="hidden" value="search" name="search">
            <input type="hidden" value="node" name="type">
            <input class="search-input" name="word" type="text" placeholder="输入关键字" value="">
            <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
        </form>

        <div class="title">
            <h1>{{ word }}</h1>
            <p>的搜索结果{% if page > 1 %}，第{{ page }}页{% endif %}</p>
        </div>

        {% for item in data.items %}
            {{ view.r(nodeRender(item)) }}
        {% endfor %}
        {{ partial("Themes/Dabbs/templates/paginator") }}
    </div>
{% endblock %}

{% block right_box %} {% include 'Themes/Dabbs/templates/right-box-search.twig' %} {% endblock %}