<!DOCTYPE html>
<html lang="zh_CN" {% block html_attr %}{% endblock html_attr %}>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('bundles/bluehouseappweb/vendor/bootstrap-3.2.0/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('bundles/bluehouseappweb/vendor/jquery-ui-themes-1.10.4/themes/blitzer/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/bluehouseappweb/css/style.css') }}">
    <!--[if lt IE 9]>
    <script src="{{asset('bundles/bluehouseappweb/vendor/html5shiv.min.js')}}"></script>
    <script src="{{asset('bundles/bluehouseappweb/vendor/respond.min.js')}}"></script>
    <![endif]-->
    {% block header %}{% endblock %}
    {% block top %} {% endblock %}
    <script>
        if(top!==self)
            top.location.href=this.location.href;
    </script>
</head>
<body{% block bodyattr %}{% endblock bodyattr %}>

<div class="header">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="top-logo" href="{{ path('post') }}">蓝房子</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="collapse-1">
                    {% if app.user %}
                        {% set appUser=app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle"
                                       data-toggle="dropdown"> 系统管理 <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('bluehouseapp_members_list',{ 'locked': '0' }) }}">
                                                <span class="glyphicon glyphicon-user"></span>
                                                用户管理</a></li>
                                        <li><a href="{{ path('bluehouseapp_category_index') }}">
                                                <span class="glyphicon glyphicon-flag"></span>
                                                分类管理</a></li>
                                        <li><a href="{{ path('bluehouseapp_node_index') }}">
                                                <span class="glyphicon glyphicon-bookmark"></span>
                                                节点管理</a></li>
                                        <li><a href="{{ path('bluehouseapp_audit_index') }}">
                                                <span class="glyphicon glyphicon-bookmark"></span>
                                                审计管理</a></li>
                                        <li><a href="{{ path('bluehouseapp_banedIPs_index') }}">
                                                <span class="glyphicon glyphicon-bookmark"></span>
                                                安全管理</a></li>

                                    </ul>
                                </li>
                            </ul>
                        {% endif %}

                        <div style="line-height:50px;font-size:16px;">

                            <a href="{{ path('fos_user_security_logout') }}" class="top-btn">
                                <span class="glyphicon glyphicon-log-out"></span>注销
                            </a>
                            <a href="{{ path('fos_user_change_password') }}" class="top-btn">
                                <span class="glyphicon glyphicon-lock"></span>修改密码
                            </a>
                            <a href="{{ path('member_edit') }}" class="top-btn">
                                <span class="glyphicon glyphicon-pencil"></span>修改个人资料
                            </a>
                            <a href="#"  class="top-btn">{% if appUser.nickname %}
                                    {{ appUser.nickname }}
                                {% else %}
                                    {{ appUser.username }}
                                {% endif %}
                            </a>

                            <a href="#" class="top-btn">
                                {% if appUser.avatar %}
                                    <img src="{{vich_uploader_asset(appUser,'userImage')|imagine_filter('small_image')}}"/>
                                {% else %}
                                    <img src="{{ asset('bundles/bluehouseappweb/images/user_default.png') }}"/>
                                {% endif %}
                            </a>
                        </div>
                    {% else %}

                        <div style="line-height:50px;font-size:16px;">
                            <a href="{{ path('fos_user_security_login') }}" class="top-btn">登录</a>
                            <a href="{{ path('fos_user_registration_register') }}" class="top-btn">注册</a>
                        </div>

                    {% endif %}
                </div>
                <!-- /.navbar-collapse -->

            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</div>

<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% block body %}
                {% endblock %}
            </div>
            <div class="col-md-3">

                <!-- right bar -->

                {% block rightbar %}
                    <div class="h20"></div>
                    <div class="box">
                        <div class="box-cell">
                            <strong>蓝房子--后台管理</strong>
                            <div class="box-fade">
                                欢迎来到蓝房子
                            </div>
                        </div>
                        <div class="box-inner">

                            {% if app.user %}
                            <a  href="{{ path('user_show', { 'username': appUser.username }) }}">
                                {% if appUser.avatar %}
                                    <img src="{{vich_uploader_asset(appUser,'userImage')|imagine_filter('small_image')}}"/>
                                {% else %}
                                    <img src="{{ asset('bundles/bluehouseappweb/images/user_default.png') }}"/>

                                {% endif %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {#<div class="h20"></div>#}
                    {#<div class="box">#}
                        {#<div class="box-cell">#}
                            {#<strong>清除屏蔽</strong>#}
                        {#</div>#}
                        {#<div class="box-cell">#}
                            {#<div style="text-align: center">#}
                                {#<a href="#" class="super normal button">一键清除节点屏蔽</a>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="box-cell">#}
                            {#<div style="text-align: center">#}
                                {#<a href="#" class="super normal button">一键清除帖子屏蔽</a>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="box-inner">#}
                            {#<div style="text-align: center">#}
                                {#<a href="#" class="super normal button">一键清除用户屏蔽</a>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {% endblock %}
            </div>

        </div>
    </div>
    <div class="h20"></div>
</div>
<div class="footer">
    <div class="container">
        <div style="text-align: center">
            ©2014 蓝房子  <a href="http://www.miitbeian.gov.cn/" target="_blank">鲁ICP备14029861号-2</a>
        </div>
    </div>
</div>
<script src="{{ asset('bundles/bluehouseappweb/vendor/jquery-1.11.1.min.js') }}"></script>
<script src="{{ asset('bundles/bluehouseappweb/vendor/bootstrap-3.2.0/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/bluehouseappweb/vendor/jquery-ui-1.10.4/js/jquery-ui-1.10.4.min.js') }}"></script>
{% block footer %}{% endblock %}
{% block bottom %}{% endblock %}
</body>
</html>
