{{ header }}
<div id="account-account" class="container">
  {{ include(helper.template('_partial/breadcrumb')) }}
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="account-list">
        <h3>{{ text_my_account }}</h3>
        <ul class="list-unstyled">
          <li><a href="{{ edit }}"><i class="iconfont">&#xe669;</i><span>{{ text_edit }}</span></a></li>
          <li><a href="{{ password }}"><i class="iconfont">&#xe66c;</i><span>{{ text_password }}</span></a></li>
          <li><a href="{{ address }}"><i class="iconfont">&#xe66e;</i><span>{{ text_address }}</span></a></li>
          <li><a href="{{ wishlist }}"><i class="iconfont">&#xe62e;</i><span>{{ text_wishlist }}</span></a></li>
        </ul>
        {% if credit_cards %}
        <h3>{{ text_credit_card }}</h3>
        <ul class="list-unstyled">
          {% for credit_card in credit_cards %}
          <li><a href="{{ credit_card.href }}"><i class="iconfont">&#xe663;</i><span>{{ credit_card.name }}</span></a></li>
          {% endfor %}
        </ul>
        {% endif %}
        <h3>{{ text_my_orders }}</h3>
        <ul class="list-unstyled">
          <li><a href="{{ order }}"><i class="iconfont">&#xe634;</i><span>{{ text_order }}</span></a></li>
          <li><a href="{{ download }}"><i class="iconfont">&#xe640;</i><span>{{ text_download }}</span></a></li>
          {% if reward %}
          <li><a href="{{ reward }}"><i class="iconfont">&#xe619;</i><span>{{ text_reward }}</span></a></li>
          {% endif %}
          <li><a href="{{ return }}"><i class="iconfont">&#xe604;</i><span>{{ text_return }}</span></a></li>
          <li><a href="{{ transaction }}"><i class="iconfont">&#xe691;</i><span>{{ text_transaction }}</span></a></li>
        </ul>
        <h3>{{ text_my_affiliate }}</h3>
        <ul class="list-unstyled">
          {% if not tracking %}
          <li><a href="{{ affiliate }}"><i class="iconfont">&#xe635;</i><span>{{ text_affiliate_add }}</span></a></li>
          {% else %}
          <li><a href="{{ affiliate }}"><i class="iconfont">&#xe635;</i><span>{{ text_affiliate_edit }}</span></a></li>
          <li><a href="{{ tracking }}"><i class="iconfont">&#xe663;</i><span>{{ text_tracking }}</span></a></li>
          {% endif %}
        </ul>
        <h3>{{ text_my_newsletter }}</h3>
        <ul class="list-unstyled">
          <li><a href="{{ newsletter }}"><i class="iconfont">&#xe616;</i><span>{{ text_newsletter }}</span></a></li>
        </ul>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
