{{ header }}
<div id="account-reward" class="container">
  {{ include(helper.template('_partial/breadcrumb')) }}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if rewards %}
      <p>{{ text_total }} <b>{{ total }}</b></p>
      {% endif %}
      {% if rewards %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-left">{{ column_date_added }}</td>
              <td class="text-left">{{ column_description }}</td>
              <td class="text-right">{{ column_points }}</td>
            </tr>
          </thead>
          <tbody>
          {% for reward in rewards %}
          <tr>
            <td class="text-left">{{ reward.date_added }}</td>
            <td class="text-left">{% if reward.order_id %} <a href="{{ reward.href }}">{{ reward.description }}</a> {% else %}
              {{ reward.description }}
              {% endif %}</td>
            <td class="text-right">{{ reward.points }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% else %}
      <div class="no-items">
        <img src="catalog/view/theme/default/image/no_items.png" class="img-responsive">
        <span>{{ text_no_results }}</span>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
