<form id="{{ id }}" class="form-horizontal ajax-submit"
    hrefbox="#right_handle" role="form" accept-charset="utf-8"
    method="post" action="{{ data.getAction() }}">
    {% for key,value in data.formEntity %} {{ view.r(data.g(key)) }} {% endfor %}
    {{ data.csrf() }}
    <input type="hidden" name="{{ data.formId }}" value="{{ data.formId }}">
    <div class="space-4"></div>
    <div class="space-4"></div>
    <div class="group_name">
        <button class="save_sort btn btn-success btn-block" type="submit">提交</button>
    </div>
    <div class="clear"></div>
    <div class="space-4"></div>
    <div class="clear"></div>
</form>