<table class="table table-striped table-bordered table-hover" id="sample-table-1">
    <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for value in data %}
        <tr>
            <td>{{ value['id'] }}</td>
            <td>{{ value['name'] }}</td>
            <td>
                <a href="{{ url(['for':'adminRegionEditor','region':value['id']]) }}" class="btn btn-xs btn-inverse ajax-load-link" hrefbox="#right_handle">编辑</a>
                <a href="{{ url(['for':'adminRegionDelete','region':value['id']]) }}" class="btn btn-xs btn-danger ajax-load-link" hrefbox="#main-content">删除</a>
                <div class="btn-group">
                    <button class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-tasks"></i>添加区块
                        <i class="icon-angle-down icon-on-right"></i>
                    </button>
                    <ul class="dropdown-menu">
                        {% for key,item in blockTypeList %}
                        <li>
                            <a class="ajax-load-link" href="{{ url(['for':'adminRegionBlockAdd','type':key,'region':value['id']]) }}" hrefbox="#right_handle">{{ item }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <a href="{{ url(['for':'adminRegionBlock','region':value['id']]) }}" class="btn btn-xs btn-success ajax-load-link" hrefbox="#right_handle" target="_black"><i class="icon-list"></i>排序区块</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
